* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    color: white;
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid rgb(51, 49, 49);
    background-color: black;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav>a {
    margin: 15px;
    text-decoration: none;

    color: white;
}

nav>a:hover {
    color: wheat;
    transform: scale(1.1);
    transition: transform .2s;
}

#logo>img {
    margin: 5px;
    height: 9vh;
}

main {
    position: relative;
    height: 100vh;
    width: auto;
    display: flex;
    z-index: 0;
    flex-direction: row;
    background-image: radial-gradient(circle, rgba(61, 61, 127, 0) 0%, rgba(10, 10, 10, 1) 80%, rgba(13, 14, 14, 1) 100%), url("./assets/back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.banner {
    display: flex;
    flex-direction: column;
    color: white;
}

main>section {
    width: 30vw;
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-top: 10vw;
}

main>section>h1 {
    font-size: 3vw;
    margin-bottom: 1vw;
    color: white;
    height: 15vh;
}

main>section>p {
    align-self: center;
    font-weight: 200;
    font-size: 1vw;
}



.order-button:hover {
    width: 12vw;
    transition: width 0.5 ease;
    cursor: pointer;
    letter-spacing: 3px;
}



.icons {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.icons > i {
    color: white;
    transition: backgground-color 1s ease-out;
}

.icons > i:hover {
    color: #d3ad7f;
    transform: scale(1.1);
}

.fa-solid {
    font-size: x-large;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

#about-us {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
}

.about-us:nth-child(2) {
    display: flex;
    flex-direction: row;
}


.about-us-main {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section_one>img {
    width: 40vw;
    height: 60vh;
}

.section_two {
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 17, 17);
    justify-content: center;
    width: 40vw;
    padding: 2%;
    color: white;
}

.section_two>h1 {
    font-size: 30px;
    margin-top: 5vh;
    margin-bottom: 2vh;
}


.learn-more {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    width: 10vw;
    height: 5vh;
    border: 1px solid black;
    background: linear-gradient(#d3ad7f, rgb(255, 247, 233));
    transition: width 0.2s ease-in-out;
}

.learn-more:hover {
    width: 12vw;
    cursor: pointer;
    letter-spacing: 3px;
}

.learn-more>a {
    color: black;
    align-self: center;
    text-decoration: none;
    font-size: 100%;
    transition: letter-spacing 0.2s ease-in-out;
}

#menu {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#menu-itemss {
    margin: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu-item {
    margin: 5px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-right: 2px solid white;
    border-left: 2px solid white;
    color: white;
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color 0.5s ease-out;
}

.menu-details>.price {
    display: flex;
    flex-direction: row;
    font-weight: 100;
}

.price>h4 {
    margin-left: 2px;
    margin-top: 9px;
    text-decoration: line-through;
    font-weight: 100;
}

.price {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.price>h2 {
    font-weight: 500;

}

.menu-item:hover {
    background-color: white;
    color: black;
}

.menu-details {
    margin-top: 10px;
}


#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}

.heading {
    margin: 20px;
    font-size: 20px;
    color: white;
    background-color: black;
    align-self: center;
}

.heading>h1>span {
    color: #d3ad7f;
}

.product-list {
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 2em;
}

.product-details {
    margin: 10px;
    padding: 15px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-right: 2px solid white;
    border-left: 2px solid white;
    color: white;
    width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.product-icons {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
}

.product-icons>i {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 0.5em;
}

.rating {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.product-image {
    margin: 20px;
}

#customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.customer-img {
    border-radius: 50%;
    width: 90px;
    margin: 20px;
}

.customer-p {
    text-align: center;
    margin: 15px;
}


#googleMap {
    display: flex;
    width: 85vh;
    height: 60vh;

}


.mainLoginInput {
    height: 50px;
    color: white;
    width: 35vw;
    font-size: 1.2em;
    background-color: black;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid white;
    border-left: 1px solid white;
    margin: 15px;
}

.mainLoginInput::placeholder{
    background-color: black;
    font-weight: normal;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 10px;
    padding-top: 5px;
    color: hsl(0, 0%, 100%);
}


#contact {
    background-color: black;
    display: flex;
    flex-direction: column;
}

#contact-us {
    display: flex;
    flex-direction: row;
    background-color: rgb(22, 21, 21);
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 12vw;
    margin-right: 8vw;
}

#details {
    background-color: rgb(22, 21, 21);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: white;
    width: 40vw;
}

#details > h1 {
    font-size: 2em;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: rgb(226, 221, 190);
    box-shadow: inset 0 0 6px rgba(233, 255, 36, 0.3);
  }

  #blog {
    display: flex;
    flex-direction: column;
    background-color: black;
  }

  .blog-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;

  }


  .blog-item{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 27vw;
    border: 1px solid grey;
  }


.img{
    position: relative;
    overflow: hidden;
    width: 27vw;
    height: 100%;
    max-width: 30vw;
    z-index: 1;
}

.img ::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  transition: .5s ease all;
}

.img > img {transition: .2s ease all; width: 100%; object-fit:cover;}

.img:hover img {
  transform: scale(1.2);
}

.content {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content > h2 {
    margin-bottom: 10px;
    font-weight: 400;
}


.content > h3 {
    color: #d3ad7f;
    font-size: large;
    font-weight: 300;
    margin-bottom: 10px;

}

footer {
    background-color: rgb(19, 19, 26);
    height: 30vh;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social > i {
    margin: 15px;
    border: 1px solid rgb(102, 96, 96);
    padding: 10px;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}

.social > i:hover{
    background-color: #d3ad7f;
    transform: scale(1.2);
    cursor: pointer;
}

.link{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link > a{
    font-size: large;
    text-decoration: none;
    color: #e5e5e5;
    border: 1px solid rgb(129, 120, 120);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    width: max-content;
    transition: background-color 0.5s ease;
}

.link > a:hover{
    background-color: #d3ad7f;
    cursor: pointer;
}